@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600&family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --blue: #0F0BC9;;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Golos Text', sans-serif;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  border: 0;
}

h1 {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  border-radius: 50px;
}

ul {
  list-style: none;
}

ul li {
  padding: 0.5rem 0;
  background-color: #FAF4FF;
  margin-bottom: 0.3rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease;
  display: flex;
  justify-content: space-between;
}

ul li:hover {
  background-color: #0F0BC9;
  color: var(--white);
}

.container {
  max-width: 1200px;
  margin: 3rem auto;
  text-align: center;
}

.leaderboard {
  padding-top: 3rem;
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scores,
form {
  margin-top: 3rem;
}

form .form-control input {
  padding: 0.8rem 1rem;
  width: 100%;
  border-radius: 50px;
  border: 1px solid var(--blue);
}

form .form-control {
  padding-bottom: 1rem;
}

@media only screen and (min-width: 720px) {
  .leaderboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }

  form .btn {
    float: right;
  }
}
